.section {
  position: relative;
}

.bgCircleWrapper {
  width: 200px;
  height: 300px;
  position: absolute;
  right: 0;
  top: -50px;
  overflow: hidden;
}

.bgRingWrapper {
  width: 350px;
  height: 490px;
  position: absolute;
  left: 0;
  bottom: 100px;
  overflow: hidden;
}

.titleSection {
  composes: title from '../../commonStyles.module.css';
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  position: relative;
}

.tarifWrapper {
  margin-bottom: 30px;
  position: relative;
}
