.navContainer {
  display: flex;
  gap: 80px;
}

.menuLink {
  color: var(--primary-font-color);
  line-height: 1.55;
  font-weight: 400;
  font-size: var(--m);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}

.menuLink:hover {
  color: var(--accent-font-color);
}

.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0 0 0;
}

.linkFlag {
  border: solid 1px var(--border-color);
  border-radius: 50%;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
